.halls{
  background-color: #440F51;
}

.wrap{
  margin-bottom: 60px;
}

.dtime{
  display: flex;
  gap: 32px;
}

.legenda{
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.hall-form__title{
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.halls-form__description{
  font-weight: bold;  
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 47px;
}

.halls-radio{
  border-radius: 8px;
}

.halls__label{
    display: inline-block;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    background-color: var( --main-color,#FFFFFF);
    text-align: center;
    text-transform: uppercase;
    color: var(--black, #000);
    height: 55px;
    width: 250px;
    transition: background-color .2s ease-in-out;
}

.halls-radio{
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 0;
}

.xls{
    display: flex;
    justify-content: space-between;
    gap:49px;
  }


.halls-list{
  display: flex;
  flex-basis: 30px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.wrap{
  max-width: 980px;
  margin: 0 auto;
}

.wrap{
  margin-bottom: 60px;
}

.box{
  display: flex;
  flex-direction: column;
  gap:21px;
  width: 33%;
}

.box__input{
  margin-right: 12px;
  width: 27px;
  height: 27px;
}

.box__label{
  display: flex;
  align-items: center;
  font-size: 22px;
  line-height: 25px;
}

.flex-fieldset{
  display: flex;
}

.square{
  width: 25px;
  height: 25px;
}

.table-games{
  display: flex;
  flex-direction: column;
  gap:20px;
}

.flex-fieldset__col{
  display: flex;
  flex-direction: column;
  gap:20px;
  width: 33%;
}

.test{
  max-width: 980px;
  margin: 0 auto;
}

.halls__button{
  display: block;
  margin-left: auto;
  width: 300px;
  height: 60px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #6C0287;
  background: #FFFFFF;
  border-radius: 10px;
  border-color: transparent;
}

.halls__button:hover{
    background-color: var(--violet, #840AA3);
    color:#fff;
}

.halls__button:focus{
  background-color: var(--violet, #840AA3);
  color:#fff;
}

.halls__button:active{
    background-color: var(--violet-dark, #640AA3);
    color:#fff;
}

.main-fil{
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 48px;
}

.first{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 300px;
    row-gap: 15px;
    padding-top: 15px;
}

.input-date, .input-time{
  width: 134px;
  height: 52px;
}

.input-count{
  width: 300px;
  height: 52px;
}

.second__label, .third__label{
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.second__input{
width: 280px;
height: 52px;
}

.third__input{
width: 300px;
height: 52px;
}

.second{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 280px;
} 

.third{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 280px;
} 

@media(max-width:1100px){
.second__input{
width: 251px;
height: 52px;
}

.halls__button{
  width: 254px;
  height: 50px;
  font-size: 18px;
  line-height: 24px;
}


.third__input{
width: 254px;
height: 52px;
}


  .halls__label{
    width: 180px;
    height: 44px;
    font-size: 20px;
    line-height: 24px;
  }

  .hall-form__title{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 25px;
  }

  .halls-form__description{
    margin-bottom: 26px;
}

}


@media(max-width:1024px){
  .hall-form__title{
    font-size: 30px;
    line-height: 40px;
  }
}


@media(max-width:974px){
  .main-fil{
    flex-direction: column;
    max-width: 960px;
  }

  
  .first{
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 100%;
  }
  .input-tel, .input-mail, .input-count{
    width: 300px;
    height: 52px;
  }

   .input-name, .input-surname{
    width: 280px;
    height: 52px;
  }

  .halls__button{
    width: 300px;
    height: 60px;
  }

  .dtime{
    gap: 14px;
  }
}

@media(max-width:820px){
   .halls__label{
    width: 150px;
    height: 38px;
    font-size: 16px;
    line-height: 20px;
  }

  .halls-form__description{
    font-size: 24px; 
    line-height: 28px;
}

.box__input{
  width: 40px;
  height: 40px;
}

.square{
  width: 40px;
  height: 40px;
}

.flex-fieldset{
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 32px;
}

.flex-fieldset__col{
  width:300px;
}

}

@media(max-width:768px){
  .hall-form__title{
    font-size: 24px;
    line-height: 36px;
  }
}



@media(max-width:745px){
  .halls-list{
    flex-wrap: wrap;
    justify-content: flex-end;
}
  .halls__item{
    margin-bottom: 14px;
    margin-right: auto;
    flex-basis: 50%;
    justify-content: flex-end;
  }

  .div-end{
  display:flex;
  justify-content: center;
}

.halls__button{
margin: 0 auto;
width: 280px;
height: 60px;
font-size: 22px;
line-height: 28px;
}

.div-start{
  display: flex;
  justify-content: center;
}

.first{
  flex-direction: column;
  align-items: center;
}

.xls{
  flex-direction: column;
}

.main-fil{
  align-items: center;
  align-content: center;
  justify-content: center;
  
  /* margin: 0 auto; */
}

.input-tel,.input-mail,.input-count{
  width: 280px;
}

}


@media(max-width:420px){
  .halls-list{
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.main-fil{
  align-items: center;
}

.halls-form__description{
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 15px;
}

  .div-end{
    display:flex;
    justify-content: flex-end;
    
}
.halls__label{
  height: 30px;
  width: 130px;
  font-size: 14px;
  line-height: 18px;
  padding: 6px 20px;
}

  .halls-list{
    margin-bottom: 30px;
  }
.box__label{
  font-size: 16px;
  line-height: 18px;
}

.legenda{
  font-size: 14px;
line-height: 18px;
}

.square{
  width: 30px;
  height: 30px;
}

.box__input{
  width: 30px;
  height: 30px;
}

}

@media(max-width:320px){
  .hall-form__title{
    font-size: 14px;
    line-height: 20px;
  }

  .halls__button{
    font-size: 18px;
    line-height: 26px;
    }
}