.modal-wrapper{
  width: 600px;
  height: 498px;
  background-color: #440F51;
}

.modal-form__title{
  padding-top: 60px;
  font-weight: bold;
  font-size: 22px;
  line-height: 34px;
  text-transform: uppercase;
  text-align: center;
  max-width: 400px;
}

.modal-form__label{
  display: flex;
  flex-direction: column;
  gap:6px;
}

.modal-form__input{
  width: 280px;
  height: 52px;
} 

.modal-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:40px;
}

.modal-button{
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #6C0287;
  padding: 16px 52px;
  border-radius: 10px;
}

.close-pos{
  position: relative;
}

.form-pos{
  position: relative;
}

.modal-close{
  background-color: transparent;
  border:none;
  margin-bottom: 3px;
  position: absolute;
  right: 15px;
  top:15px;
}

.container_modal{
  /* border:2px solid lime; */
  position: relative;
}

.main-wrapper{
  display: none;
  position: absolute;
  top:58px;
  left: calc(50% - 300px);
  z-index: 100;
}

.modal-form__label{
  font-size: 14px;
line-height: 16px;

}
