.modalka{
  display: none;
  width: 600px;
  height: 498px;
  background-color: #440F51;
  position: relative;
  margin: 0 auto;
}

.close-cross{
  background-image:url("../img/close.svg");
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  position: absolute;
  top:15px;
  right:15px;
  background-color: transparent;
  border:none;
}

.modalka-container{
  position:relative;
}

.wrapper-modal{
   margin: auto;
  position: absolute;
  top: 58px; left: 0; bottom: 0; right: 0;
  z-index: 800;
}

.modal__input{
  width: 280px;
  height: 52px;
}

.modal__input{
  margin-bottom: 40px;
}

.modal__input:focus{
  outline:1px solid #CD06FF;
}

.modal{
  display: flex;
  flex-direction: column;
  align-items:center;
}

.modal__label{
  display: flex;
  flex-direction: column;
}

.modal__title{
font-weight: bold;
font-size: 22px;
line-height: 30px;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 40px;
padding-top: 60px;
}

.modal{
  max-width: 300px;
  margin: 0 auto;
}

.modal__button{
  width: 300px;
  height: 60px;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #6C0287;
}

