:root {
    --main-color: #FFFFFF;
    --main-background: #1B1A1B;
    --violet: #840AA3;
    --violet-dark: #640AA3;
    --pink: #CD06FF;
    --main-violet: #440F51;
    --black: #000000;
    --purple: #6c0287;
}